:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: #0f0f0f;
	background-color: #f6f6f6;

	font-synthesis: none;
	text-rendering: optimizeLegibility;

	overflow-x: hidden;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--element-background: #2f2f2f;
	--highlight-color: #058ed9;
	--border-color: #f5b841;
	--dark-ash: #0f0f0f;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(#2f2f2f69, #0f0f0f);
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
}

.h1 {
	background-color: #2f2f2f;
	border-radius: 0.5rem;
	padding: 1rem;
	padding-left: 3rem;
	padding-right: 3rem;
	margin: 0;
	margin-bottom: 2rem;
}

.button-container {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 2rem;
}

.table-header {
	padding-right: 1rem;
	text-align: start;
}

.td {
	text-align: start;
}

.table-container {
	display: flex;
	justify-content: center;
}

.sound-table {
	width: fit-content;
	border-radius: 0.5rem;
	background: #2f2f2f;
	padding: 1rem;
}

.keybind-input {
	width: 3rem;
	height: 0.75rem;
	text-align: center;
}

.container {
	margin: 0;
	padding-top: 10vh;
	padding-bottom: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.button-container-inner {
	display: flex;
	border-radius: 0.5rem;
	justify-content: center;
	gap: 2rem;
	background-color: #2f2f2f;
	padding: 1rem;
}

body {
	height: 100vh;
	width: 100vw;
}

input,
button {
	border: 1px solid transparent;
	padding: 0.5em 1em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: #0f0f0f;
	background-color: #ffffff;
	transition: border-color 0.25s;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
	cursor: pointer;
}

button:hover {
	border-color: var(--border-color);
}
button:active {
	border-color: var(--border-color);
	background-color: #e8e8e8;
}

/* Modal Styles */
.modal {
	display: none; /* Hide the modal by default */
	position: fixed; /* Fixed position to overlay the entire screen */
	inset: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(
		0,
		0,
		0,
		0.5
	); /* Semi-transparent background overlay */
	z-index: 1; /* Ensure the modal is above other elements */
}

.modal-input:focus {
	border-color: var(--border-color);
}

.modal-input-keybind {
	width: 2rem;
	text-align: center;
	vertical-align: middle;
}

.modal-input-volume {
	width: 3.5rem;
	text-align: center;
	text-align: center;
	vertical-align: middle;
}

.modal-content {
	background-color: #2f2f2f;
	margin: 15% auto; /* Center the modal vertically */
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 400px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	z-index: 2;
}

.modal-inner {
	display: flex;
	flex-direction: column;
}

.modal-setting {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 1rem;
}

.modal-close {
	display: flex;
	justify-content: flex-end;
}

.modal-prompt {
	display: flex;
	text-align: center;
	justify-content: end;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
}

/* Close button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	align-items: end;
}

.close:hover,
.close:focus {
	color: red;
	text-decoration: none;
	cursor: pointer;
}

/* Ensure the modal is visible when showModal is true */
.modal.active {
	display: block;
}

input,
button {
	outline: none;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #f6f6f6;
		background-color: #0f0f0f;
	}

	input,
	button {
		color: #ffffff;
		background-color: #0f0f0f98;
	}
	button:active {
		background-color: #0f0f0f69;
	}
}
